.xh-gis-viewer-time-line {
  position: absolute;
  bottom: 28px;
  width: 100%;
  height: 50px;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 0 20px;
  background: var(--wg-overlay-bg, #0000006b);
  color: var(--wg-overlay-text, #ffffff);
}

.xh-gis-viewer-time-line > .xh-gis-viewer-time-line-tools {
  pointer-events: auto;
  padding: 8px 0 0;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.xh-gis-viewer-time-line-tools > .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xh-gis-viewer-time-line-tools > .bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
}

.xh-gis-viewer-time-line-graduation {
  height: 100%;
  flex: 1 1 auto;
}
